@import url('https://fonts.googleapis.com/css?family=Dosis|Fanwood+Text|Montserrat|Poppins');


html, body {
  height: 100%;
  width: 100%;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
  font-family: Montserrat;
  margin-top: 10px;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light-100{
  border-top: 1px solid #d5d5d5;
  margin-top: .8rem;
  margin-bottom: 1rem;
  width: 100%;
}

.jumbotron {
  padding: 10px;
}

.row p {
  font-family: Poppins;
  font-size: 16px;
}

.navbar {
  background-color: #deb887;
}

.navbar-nav li {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-item a {
  color: #fff;
  /*font-size: 1.5vw;*/
}

.display-4 {
  font-family: Montserrat;
  font-style: italic;
}

.carousel-caption h5{
  color: #000;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  padding-top: 20px;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 90%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#carouselExampleIndicators {
  padding: 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#captionSlide1 {
  font-family: Poppins;
  text-shadow: 1px 1px 10px #000;
}

#welcomeHead {
  width: 70%;
  margin-top: 15px;
}

#welcomeHeader{
  font-size: 40px;
}

#welcomeText {
  font-style: italic;
}

#welcomeAlert {
  color: red;
}
